.posts-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.post {
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card-title {
    width: max-content;
}

.card-title:hover {
    cursor: pointer;
    color: #0d6efd;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

.post:hover {
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.floating-button {
    width: 60px;
    height: 60px;
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}

.floating-button-filter {
    width: 60px;
    height: 60px;
    display: none;
    position: fixed;
    bottom: 70px;
    right: 0;
    margin: 35px 25px;
}

.mobile-option {
    display: none;
}

.bottom-info {
    display: none;
}

.follow-bt-bottom {
    display: none;
}

.btn-info:focus,
.btn-info:active {
    outline: none !important;
    box-shadow: none !important;
}

/* https://loading.io/css/ */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #31d2f2;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #31d2f2 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1300px) {
    .user-info {
        display: none;
    }

    .follow-bt-bottom {
        display: block;
    }

    .bottom-info {
        display: flex;
        justify-content: space-between;
    }

    .about-user {
        padding-bottom: 0px !important;
    }

}

@media (max-width: 1100px) {

    .posts-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .left-content,
    .right-content {
        display: none;
    }

    .floating-button,
    .floating-button-filter {
        display: block;
    }

    .desktop-option {
        display: none;
    }

    .mobile-option {
        display: block;
    }
}

@media (max-width: 500px) {
    .posts-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .card {
        border-radius: 0px;
    }
}